<html>
   <head> 
      <title>Super Simple Chat with Sinatra</title> 
      <meta charset="utf-8" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
   </head> 
   <FRAMESET rows="70%, 30%">
     <FRAMESET cols="700, 300">
       <FRAME src="/mensajes/<%= user %>" name=mensajes>
       <FRAME src="/usuarios/<%= user %>" name=usuarios>
     </FRAMESET>
     <FRAME src="/escritura/<%= user %>" name=escritura>
   </FRAMESET>
   <body>
   </body>
</html>




